body 
{background-color: #90c7e3;
    background-image: linear-gradient(to bottom, #fff, #90c7e3);
    background-repeat: no-repeat;
color: #555;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}

#wrapper{
    background-color: #fff;
    box-shadow: 3px 3px 3px #333;
    min-width: 960px;
    max-width: 2048px;
    width: 80%;
    margin: auto;
}


header {background-color: #000032;
    color: #fff;
    background-image: url(images/sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 60px;
    padding-top: 15px;
    text-align: center;
}
nav {
    background-color: #bbdefb;
    font-weight: bold;
    padding: 1em;
    text-align: center;
}

nav a {
    text-decoration: none;
}
main {
    padding: 1px 20px 20px;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

h1, h2, h3, footer {
    font-family: Georgia, "Times New Roman", Times, Baskerville, serif;
}

h2{
    color: #1976d2;
    text-shadow: 1px 1px 1px #ccc;
    padding: 2em;
}

h3 {
    color: #003;
}
dt{
    color: #002171; 
}
footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
}
.resort {
    color: #1976d2; 
    font-weight: bold;
}

#homehero, #yurthero, #trailhero {
    background-repeat: no-repeat;
    background-size: cover;
    height: 18.75rem;
}
#homehero {
    background-image: url(images/coast2.jpg);
}

#yurthero {
    background-image: url(images/yurt.jpg);
}

#trailhero {
    background-image: url(images/trail.jpg);
}